@model IEnumerable<meagbot.Models.Messages>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswersBytes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactMe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Self)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswersBytes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactMe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Self)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MessageId }) |
                @Html.ActionLink("Details", "Details", new { id=item.MessageId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MessageId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
